.contactForm {
    display: inline-grid;
}

.contactItem {
    margin-bottom: 25px;
    height: 300px;
    width: 100%;
    img {
        border-radius: 50%;
        float: left;
        margin-right: 30px;
    }
}
ul {
    list-style-type: none;
}
